*{
    background-color:#ebedf0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.section1{
    display:flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-left: 150px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-weight:lighter
}
.section1 > img{
margin-top: 150px;
}
.para1{
    font-size: 24px;
    line-height: 28px;
    width: 70%;
    margin-top: 0%;
    margin-left: 28px;
}
.section2{
        background-color: rgb(44, 38, 38);
        height: 456px;
        width: 396px;
        font-size: 12px;
        line-height: 1.34;
        font-family: inherit;
        border: none;
        margin-right: 180px;
        margin-top: 40px;
        display: flex;
        justify-content: right;

}
.box{
    width:396px;
    height:315px;
    justify-content: center;
    border-radius: 10px;
    margin-top:60px;
    font-family: inherit;
    background-color: white;
}
.input{
    padding: 14px 16px;
    width: 95%;
    height:55px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    background: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}
.button{
    height:40px
}
.button1{
    width:95%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}